* {
  margin: 0;
  padding: 0;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.configuration-container {
  position: absolute;
  right: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.configuration-size {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
